### Reading

pd.read_csv('file')

### Creating a DF
    labels = ['student_id', 'age']
    df = pd.DataFrame(student_data,columns = labels)

### Make a copy of DF

var2 = var1.copy()

### CHANGE DATATYPE

### Viewing the DF

    df.head()
    df.tail()
    df.describe()

### Reaname the columns

df.columns = [name1, name2,...,name]

    students.rename(columns={
            "id": "student_id",
            "first": "first_name",
            "last": "last_name",
            "age": "age_in_years"
        }, inplace=True)

### DF Properties

    df.shape -> gives [number of rows, number of columns]
    df.dtype -> gives dtype of all cols
    df.index -> RangeIndex(start=1, stop=149, step=1)

### Viewing Columns

    DF.COL_NAME
    DF['COL_NAME']

### NULL ENTRIES
        DF.isnull()
        DF.isnull().sum()

### SLICING
    df.iloc[1:4,2:4] iloc -> index
    df.loc[2]        loc -> label
    df.index[0], df.index[5]
    
###### select the name and age of the student with student_id = 101.
    students[students['student_id'] == 101][['name', 'age']]
    students.loc[students["student_id"] == 101, ["name", "age"]]
    
###### Sorting based on cols
    .sort_values(['weight'],ascending=False)

### DELETING

#### ROWS
     df.drop(0) -> DELETE ROW 0(NEW DF)
    df.drop(0, inplace = True) -> IN THAT DF
    df.drop(df.index[[0,1]], inplace = True) -> DEL INDEX
    
#### COLUMNS
    df.drop('sl', axis=1)
    del df['sl']

### UPDATING 
    df.reset_index()
    df.reset_index()  # old index col will be added
    df.loc[0]= [1,2,3,4,'Iris-setosa']
    df.loc[149]= [1,2,3,4,'Iris-setosa']
    
##### remove duplicates based on email
    customers.drop_duplicates(subset = 'email', keep='first')

   ### ADDING NEW COL
       df["diff_pl_pw"] = df["pl"] - df["pw"]
       
       employees["bonus"]=2*employees["salary"]
        return employees

### FETCHING

    types = df['variety'].unique()
    df[df.COLUMN>5]
    df[df.flower_type == 'Iris-setosa']
    df[df.flower_type == 'Iris-setosa'].describe()

### COMPLEX

    # df[df['variety']=='Virginica' and df['petal.length']>1.5]
    df[df['variety']=='Virginica'].loc[df['petal.length']>1.5]

### NAN ENTRIES

    import numpy as np
    df.iloc[2:4,1:3] = np.nan
    
#### 1
    df.dropna(inplace=True) # this removes the rows having nan values (requires inplace)
    df.reset_index(drop = True, inplace = True)
    students.dropna(subset=['name']) removes None values in name col
#### 2 filling the nan values -> mean of col | filling the nan values -> most occuring of col

    df['sepal.width'].fillna(df['sepal.width'].mean(), inplace=True)
    df['petal.length'].fillna(df['petal.length'].mean(), inplace=True)

### Change table shape

    df.pivot(index='month', columns='city', values='temperature')
    
    from wide to long
    dp.melt(